<div class="card-item col">
  {%- if project.redirect -%}
  <a href="{{ project.redirect }}">
  {%- endif -%}
    <div class="card hoverable">
      <div class="row g-0">
        {%- if project.img -%}
        <div class="col-md-12">
          <div class="card-img float-left col-md-6">
              <img src="{{ project.img | relative_url }}" alt="project thumbnail">
          </div>
          <div class="card-body">
            <h3 class="card-title">{{ project.title }}</h3>
            {%- if project.email -%}
            <a href="mailto:{{ project.email }}">Email: {{ project.email }}</a>
            {%- endif -%}
            <p class="card-text">{{ project.description }}</p>
          </div>
        </div>
        {%- else -%}
        <div class="col-md-12">
          <div class="card-body">
            <h3 class="card-title">{{ project.title }}</h3>
            <p class="card-text">{{ project.description }}</p>
          </div>
        </div>
        {%- endif -%}
      </div>
    </div>
  {%- if project.redirect -%}
  </a>
  {%- endif -%}
  
</div>